<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>font0</key>
	<string>Montserrat-Bold</string>
	<key>font1</key>
	<string>Montserrat-Regular</string>
	<key>font2</key>
	<string>Montserrat-SemiBold</string>
	<key>fSize0</key>
	<string>10</string>
	<key>fSize1</key>
	<string>12</string>
	<key>fSize2</key>
	<string>14</string>
	<key>fSize3</key>
	<string>16</string>
	<key>fSize4</key>
	<string>18</string>
	<key>fSize5</key>
	<string>20</string>
	<key>fSize6</key>
	<string>24</string>
	<key>fSize7</key>
	<string>36</string>
	<key>Primary_Default_Color</key>
	<string>fc4253</string>
	<key>Secondary_Color1</key>
	<string>f4f4f4</string>
	<key>Secondary_Color2</key>
	<string>f4f4f4</string>
	<key>textColorSecondary</key>
	<string>757575</string>
	<key>color4</key>
	<string>7e7e7e</string>
	<key>color5</key>
	<string>ffffff</string>
	<key>color6</key>
	<string>1449FF</string>
	<key>color7</key>
	<string>FF1700</string>
	<key>color8</key>
	<string>3BCBFF</string>
	<key>color9</key>
	<string>9A9A9A</string>
	<key>color10</key>
	<string>ff3333</string>
	<key>color11</key>
	<string>D3D3D3</string>
	<key>color12</key>
	<string>FF7800</string>
	<key>color13</key>
	<string>008000</string>
	<key>color14</key>
	<string>2b2b2b</string>
	<key>color15</key>
	<string>f4f4f4</string>
	<key>color16</key>
	<string>FFFB00</string>
	<key>header_color</key>
	<string>fc4253</string>
	<key>pColor0</key>
	<string>66ffffff</string>
	<key>pColor1</key>
	<string>898888</string>
	<key>pColor2</key>
	<string>e3e3e3</string>
	<key>background</key>
	<string>D6D6D6</string>
	<key>view_background</key>
	<string>000000</string>
	<key>vw_secoundry_background</key>
	<string>1c1c1e</string>
</dict>
</plist>
